# Configurações de Contato
VITE_WHATSAPP_NUMBER=+5562998550007
VITE_EMAIL=yohann@example.com

# Redes Sociais
VITE_LINKEDIN_URL=https://www.linkedin.com/in/yohann-escher-melo-95a6b1201/
VITE_YOUTUBE_URL=https://www.youtube.com/@Yohannescher

# URLs dos Projetos
VITE_DX_TECH_URL=https://www.dxtechsolutions.com.br/
VITE_FRAME_TO_MONEY_URL=https://frametomoney.com

# Informações do Perfil
VITE_PROFILE_NAME=Yohann
VITE_PROFILE_TITLE=Desenvolvedor & Empreendedor
VITE_HERO_VIDEO_URL=https://videos.pexels.com/video-files/3129957/3129957-uhd_2560_1440_25fps.mp4
